<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="user20Entities" connectionString="metadata=res://*/Entities.Shool_Service.csdl|res://*/Entities.Shool_Service.ssdl|res://*/Entities.Shool_Service.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-9CQ8FMKGM4L\SQLSERVER404;initial catalog=user20;user id=user20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="user20Entities1" connectionString="metadata=res://*/Entities.ShoolService.csdl|res://*/Entities.ShoolService.ssdl|res://*/Entities.ShoolService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-9CQ8FMKGM4L\SQLSERVER404;initial catalog=user20;user id=user20;password=QwErTy404.20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>